<!DOCTYPE html>
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Astrix</title>

    <style type="text/css">
        #serch_form {
            left: 170px
        }

    </style>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body class="b-page__body_font bg-light">

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
            </button>
            <a class="navbar-brand" href="{% url 'shop_management:index' %}">
                Astrix</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'shop_management:shops' %}">Shops</a></li>
                <li><a href="{% url 'shop_management:goods' %}">Goods</a></li>
                <li>
                    <a href="{% url 'shop_management:warehouses' %}">Warehouses</a>
                </li>
                <li><a href="{% url 'shop_management:shopping_carts' %}">Shopping
                    Carts</a></li>


            </ul>
            <div align="right">
                <form action="{% url 'shop_management:data' %}"
                      method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input name="sql" placeholder="SQL">
                    <button class="btn btn-success btn-lg"
                            name="submit">
                        GO
                    </button>

                </form>
            </div>

        </div>

    </div>
</nav>

<div class="container">

    <div class="page-header">
        {% block header %}{% endblock %}
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>

    <div>
        <footer>
            <hr>
            &copy; Igor Turcevich, Anton Rekuts, 2018
        </footer>
    </div>

</div> <!-- /container -->

</body>
</html>
