{% extends "shop_management/base.html" %}

{% block header %}
<h1>SQL: {{query}}</h1>
<button class="btn btn-warning" onclick="javascript:history.back(); return false;">Back</button>
<hr>
{% endblock %}

{% block content %}
<table class="table table-striped table-sm">
    {% if data %}
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            Record
        </th>
    </tr>
    </thead>
    <tbody>
    {% for record in data %}
    <tr>
        <td>
            <i>{{record.0}}</i>
        </td>
        <td>
            <i>{{record.1}}</i>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <p>Nothing found!</p>
    {% endif %}
    </tbody>
</table>

{% endblock %}
