{% extends "shop_management/base.html" %}

{% block header %}
<h1>Goods</h1>
<h5><i>In this page you can find all goods in shops of our shops network</i>
</h5>
<form action="{% url 'shop_management:search' 'goods' %}"
      method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input name="sql" placeholder="Search on page">
    <button class="btn btn-success" name="submit">Go</button>
</form>
{% endblock %}

{% block content %}
<table class="table table-striped table-sm">
    {% if goods %}
    <thead>
    <tr>
        <th>
            №
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
    </tr>
    </thead>
    <tbody>
    {% for good in goods %}

    <tr>
        <td>
            <i>{{good.0}}</i>
        </td>
        <td>
            <a href="{% url 'shop_management:good' good.0 %}">{{good.1}}</a>
        </td>
        <td>
            <i>{{good.2}}$</i>
        </td>
        <td>
            <button class="btn btn-success">Go to shop</button>
        </td>

    </tr>
    {% endfor %}
    {% else %}
    <p>There is no shops!</p>
    {% endif %}
    </tbody>
</table>

{% endblock %}

