{% extends "shop_management/base.html" %}

{% block header %}
    <h1>Contains of warehouse</h1>
{% endblock %}

{% block content %}
    <table class="table table-striped table-sm">
    {% if warehouse %}
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Availabe
        </th>
    </tr>
    </thead>
    <tbody>
    {% for goods in warehouse %}

    <tr>
        <td>
            <i>{{goods.0}}</i>
        </td>
        <td>
            <i>{{goods.1}}</i>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <p>There is no goods!</p>
    {% endif %}
    </tbody>
</table>
{% endblock %}
